:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --purple: hsl(246, 83%, 61%);
    --green: hsl(108, 74%, 56%);
    --grayishBlue: hsl(229, 6%, 66%);
    --varyDarkBlue: hsl(234, 12%, 34%);
}

.cyan {
    border-top: 3px solid var(--cyan);
    background-color: var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
    background-color: var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
    background-color: var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
    background-color: var(--orange);
}
.purple {
    border-top: 3px solid var(--purple);
    background-color: var(--purple);
}

.green {
    border-top: 3px solid var(--green);
    background-color: var(--green);
}

.card {
    background-color: #ffff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    transition: 0.2s all ease-in-out;
}

.card h3 {
    transform: translate(1rem, 0.8rem);
    color: var(--varyDarkBlue);
    font-weight: 400;
}
.card p {
    color: var(--grayishBlue);
}

.card img {
    float: left;
    width: 40px;
}

.linkButton {
    float: right;
    bottom: 0px;
    bottom: 0px;
    border: none !important;
    color: #ffff;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05) translateY(-0.5rem);
}
.linkButton:hover {
    background: #fff;
    color: #000;
}

html[data-theme='dark'] .card {
    box-shadow: none;
    background-color: rgb(41 41 43);
    border: none;
}
html[data-theme='dark'] .card h3 {
    color: #fff;
}

@media screen and (max-width: 1060px) {
    .card h3 {
        font-size: 1rem;
    }

    .card p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 900px) {
    .card img {
        width: 35px;
    }
}
