title h1 {
    font-size: 1.5rem;
}

.categoriesTable {
    padding:4em;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
}